*.py[cod]

*swp
*swo

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Images
*.png
monkey.data.csv
monkey.matrices.csv
nwm.data.csv
nwm.matrices.csv
nwm.clean.data.csv
mean.center.residuals.NWM.csv
*.txt
*.pickle
*.plain

*.Rdata
*.rdata

nwm.raw.*

.ipynb_checkpoints/
